/* Styling for the Home page */
.equipment-list {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.equipment-card {
  border: 1px solid #ccc;
  padding: 10px;
  width: 200px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.equipment-name {
  font-size: 18px;
  font-weight: bold;
}

.equipment-description {
  font-size: 14px;
  margin: 10px 0;
}

.equipment-price {
  font-size: 16px;
  font-weight: bold;
  color: rgb(0, 70, 128);
}

.equipment-image {
  width: 100%;
  height: auto;
  border-radius: 5px;
}
